@model WA_Pharmacy.DTOs.Insurance.InsuranceEditDto

@{
    ViewData["Title"] = "جزئیات بیمه";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-info-circle ml-1"></i> مشخصات شرکت بیمه
                </h3>
            </div>
            
            <div class="card-body p-0">
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 40%">@Html.DisplayNameFor(model => model.CompanyName)</th>
                        <td>@Html.DisplayFor(model => model.CompanyName)</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning px-4 float-right">
                    <i class="fa fa-edit ml-1"></i> ویرایش
                </a>
                <a asp-action="Index" class="btn btn-secondary float-left">
                    <i class="fa fa-arrow-left ml-1"></i> بازگشت
                </a>
            </div>
        </div>
    </div>
</div>